<div class="w-full bg-gray-900 text-white h-screen">
  <div class="flex justify-center items-center py-2 px-1">
    <img
      src="https://img.freepik.com/premium-vector/modern-highspeed-electric-train-rails-logo-circle-black-background_168440-1019.jpg"
      alt=""
      class="w-20 rounded-full m-0.5"
      draggable="false"
    />
    <h2 class="text-2xl font-bold p-4">Train Monk</h2>
  </div>

  <ul class="flex flex-col space-y-2 p-4 w-full">
    <li
      class="w-full hover:bg-slate-700 py-1 px-2 rounded cursor-pointer"
      routerLink="/admin/dashboard"
      routerLinkActive="bg-slate-700 font-bold"
    >
      Dashboard
    </li>
    <li
      class="w-full hover:bg-slate-700 py-1 px-2 rounded cursor-pointer"
      routerLink="/admin/add-train"
      routerLinkActive="bg-slate-700 font-bold"
    >
      Add Train
    </li>
    <li
      class="w-full hover:bg-slate-700 py-1 px-2 rounded cursor-pointer"
      routerLink="/admin/view-train"
      routerLinkActive="bg-slate-700 font-bold"
    >
      View Train
    </li>
  </ul>
</div>
